* {
    box-sizing: border-box;
}

body {
    background-color: #F0F0F0;
}
h1, h2, h3, h4, h5 {
    font-family: 'Anton', 'sans-serif';
    text-transform: uppercase;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 32px;
}
h5 {
    font-size: 28px;
}
.headerbg {
    background-color: white;
    position: absolute;
    top: 18px;
    width: 100%;
    height: 65px;
    z-index: -1;
}
.codeup-header {
    font-family: 'Abel', 'sans-serif';
    text-transform: lowercase;
}
.p-style {
    font-family: 'Abel', 'sans-serif';
    font-size: small;
    text-transform: uppercase;
    /*background-color: #F0F0F0;*/
}

.circle {
    width: 105px;
    height: 105px;
    padding-top: 30px;
    border: solid white 8px;
    text-transform: uppercase;
    font-family: 'Abel', 'sans-serif';
    margin: auto;
}

.logo {
    width: 105px;
    height: 105px;
}

.image-div {
    background-color: #F0F0F0;
    width: 100%;
    height: 250px;
    border: solid #E6E6E6 8px;
    border-radius: 10px;
    background-size: cover;
}

.image-div-1 {
    /*background-color: #F0F0F0;*/
    background-image: url("img/apple-ipad.jpg");
    /*background-size: cover;*/
}

.image-div-2 {
    /*background-color: #F0F0F0;*/
    background-image: url("img/macbook.jpg");
    /*background-size: cover;*/
}

.image-div-3 {
    /*background-color: #F0F0F0;*/
    background-image: url("img/man.jpg");
    /*background-size: cover;*/
}

.image-div-4 {
    /*background-color: #F0F0F0;*/
    background-image: url("img/security.jpg");
    /*background-size: cover;*/
}

.card {
    border-radius: 10px 10px;
    background-color: #F0F0F0;
    border-style: none;
}

.card-footer {
    background-color: #F0F0F0;
}

.icon {
    width: 18px;
    height: 18px;
    font-family: 'Abel', 'sans-serif';
    /*border: solid black 1px;*/
    font-weight: bold;
}

.red {
    background: #E6563B;
}

.orange {
    background: #DEA03D;
}

.green {
    background: #7CB06C;
}

.blue {
    background: #00ABA9;
}

#social-media {
    color: #1DA1F3;
}

.last-tweet-p {
    font-family: 'Abel', 'sans-serif';
    font-size: small;
    text-transform: capitalize;
    background-color: #F0F0F0;
}
